body {
  background-image: url("https://www.viagenspossiveis.com.br/wp-content/uploads/2013/02/C360_2012-11-19-17-59-02.jpg");
  background-size: cover;
}
header {
  background-color: #248030;
  border-radius: 5px;
  color: white;
}

header p {
  font-size: 10px;
}

main {
  background-color: #ffff8c;
  border-radius: 5px;
}

main p {
  font-size: 10px;
}

a {
  color: #248030;
  font-size: 10px;
}

main h2 {
  font-size: 17px;
}

footer p {
  background-color: white;
  font-size: 10px;
}
