body {
  background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
  background-size: cover;
}

header {
  background-color: #333333;
  color: #ffffff;
}

main {
  background-color: #ffffff;
  border-width: 4px;
  border-color: #000000;
  border-style: solid;
}

.box1 {
  background-color: chartreuse;
  border: dashed 2px blue;
  border-top-right-radius: 40px;
  height: 64px;
  width: 320px;
}

.box2 {
  background-image: linear-gradient(43deg, #ff5733, #550acf);
  border: double 4px rgb(188, 240, 3);
  border-top: solid 4px rgb(188, 240, 3);
  height: 64px;
  width: 320px;
}

.box3 {
  background-color: rgb(8, 144, 235);
  border: groove 6px purple;
  border-radius: 15px;
  height: 64px;
  width: 320px;
}
